.container {
  width: 1200px;
  height: max-content;
  margin: 0 auto;
  display: grid;

  grid-template-areas: 
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 19% 1fr;
  gap: 20px;
}


body {
  background: #FBFCFE;
}

.post {
  border-radius: 20px;
  box-shadow: 0 0 50px rgb(0 0 0 / 10%);
  background: #fff;
  padding: 20px;
}